/* top nav */
body {
  padding-top: 50px; /* compensate for height of top navbar */
  font-family: 'Open Sans', sans-serif;
}
.timer {
	font-weight: 600;
	font-size: 24px;
  margin: 8px 15px;
}

/* main columns */
.resus-main-columns {
	border-bottom: 1px solid #e7e7e7;
}
.resus-main-columns .resus-col h4 {
	text-align: center;
	margin-bottom: 15px;
}
.resus-col {
	padding: 5px 0 15px 0;
}
.resus-col:nth-child(even){
	background-color: #F5FCFF;
}
.resus-col:nth-child(odd){
	background-color: #EDF9FF;
}
.resus-main-columns .resus-col .btn {
	margin: 7px 0;
}
/* force equal column height */
.resus-main-columns .row {
    display: table;
}
.resus-main-columns .row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}


/* event log */
.resus-event-log {
	padding-top: 30px;
	padding-bottom: 20px;
  background-color: #F8F8F8;
  
  height:200px;
  overflow-x:hidden;
  overflow-y:scroll;
}


.record{
	clear:both;
}
.record.deleted{
	text-decoration: line-through;
}
.awaiting-status{
	background-color: #fcc;
}

.actionButton.active{
	background-color: #ccf;
}