<span>Team</span>
<div class='pull-right'>
	<button class="actionButton btn btn-default btn-block" {{action "addMember"}}>Add member</button>
</div>
{{#each member in controller.members}}
	{{member-display member=member}}
{{/each}}